<div class="page-header">
  <h1>
    Find Your Friends
  </h1>
</div>

<%= search_form_for(@q, url: "/friends", method: :get) do |f| %>
   <p class="lead">
      Search:
   </p>
   <div class="form-group">
      <%= f.label :username_cont, "Username containing" %>
      <%= f.text_field :username_cont, :class => "form-control", :placeholder => "Enter a few characters" %>
   </div>
   <div class="form-group">
      <%= f.label :first_name_cont, "First name" %>
      <%= f.text_field :first_name_cont, :class => "form-control", :placeholder => "First name" %>
   </div>
   <div class="form-group">
      <%= f.label :last_name_cont, "Last name" %>
      <%= f.text_field :last_name_cont, :class => "form-control", :placeholder => "Last name" %>
   </div>
   <%= f.submit :class => "btn btn-primary btn-block" %>

   <a href="/friends" class="btn btn-default btn-block">Clear filters</a>
<% end %>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Actions</th>
      </tr>

      <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.username %></td>
        <td><%= friend.first_name %></td>
        <td><%= friend.last_name %></td>
        <td>
           <% if current_user.friends_with?(friend) %>
               <form action="/remove_friend/<%= friend.id %>" method="post">
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                  <button class="btn btn-danger">
                    Remove Friend
                  </button>
               </form>
             <% else %>
               <% check = false %>
               <% current_user.pending_friends.each do |request| %>
                  <% if friend.id == request.id %>
                     <% check = true %>
                  <% end %>
               <% end %>
               <% friend.pending_friends.each do |request| %>
                  <% if current_user.id == request.id %>
                     <% check = true %>
                  <% end %>
               <% end %>

               <% if check == true %>
                  <button class="btn btn-success" disabled="disabled">
                     Request Pending
                  </button>
               <% else %>
                <form action="/add_friend" method="post">
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                  <input type="hidden" name="message[subject]" value="<%= current_user.username %> sent you a friend request!">

                  <input type="hidden" name="message[body]" value="Accept friend request?">

                  <input type="hidden" name="id" value="<%= friend.id %>">

                  <button class="btn btn-success">
                    Add Friend
                  </button>
               </form>
               <% end %>
             <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
