<div class="page-header">
  <h3>Friend #<%= @friend.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @friend.username_id %></dd>

      <dt>Friend</dt>
      <dd><%= @friend.friend_id %></dd>

      <dt>Favorite status</dt>
      <dd><%= @friend.favorite_status %></dd>

      <dt>Approval status</dt>
      <dd><%= @friend.approval_status %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/friends" class="btn btn-primary">
        Back
      </a>
      <a href="/friends/<%= @friend.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_friend/<%= @friend.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
