<div class="page-header">
  <h1>
    Libraries
    <a href="/libraries/new" class="btn btn-lg btn-success">New Library</a>
  </h1>
</div>

<form action="/load_library" method="get">
  <!-- Hidden input for authenticity token to protect from forgery -->
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

  <button class="btn btn-success">
    Refresh Library
  </button>
</form>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Owner</th>
        <th>Image</th>
        <th>Game</th>
        <th>Default looking to play status</th>
        <th>Actions</th>
      </tr>

      <% @libraries.each do |library| %>
      <tr>
        <td><%= library.user.username %></td>
        <td><img src="<%= library.game.img_url %>"></td>
        <td><%= library.game.title %></td>
        <td>
           <input type="checkbox" value="<%= library.default_looking_to_play_status %>" checked data-toggle="toggle" data-onstyle="warning" data-offstyle="info" data-on="Looking for Crew" data-off="Playing Solo" data-width="150">
        </td>
        <td>
          <a href="/libraries/<%= library.id %>" class="btn btn-primary">Show</a>
          <a href="/libraries/<%= library.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_library/<%= library.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
