<div class="row pb-1">
   <div class="col-md-offset-10 col-md-2">
      <form action="/load_library" method="get">
         <!-- Hidden input for authenticity token to protect from forgery -->
         <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

         <button class="btn btn-success btn-block">
            Refresh Library
         </button>
      </form>
   </div>
</div>

<div class="row">
   <div class="col-md-12">
      <table class="table table-striped table-hover">
         <tr>
            <th>Game</th>
            <th></th>
            <th>Default looking to play status</th>
         </tr>

         <% @libraries.each do |library| %>
         <tr>
            <td><img src="<%= library.game.img_url %>"></td>
            <td>
               <%= library.game.title %>
            </td>
            <td>
               <form id="form_<%= library.id %>" action="/toggle_library_status/<%= library.id %>" method="post">
                  <!-- Hidden input for authenticity token to protect from forgery -->
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                  <input name="owner_id" type="hidden" value="<%= library.owner_id %>">

                  <input name="game_id" type="hidden" value="<%= library.game_id %>">

                  <% if library.default_looking_to_play_status? %>

                  <input name="default_looking_to_play_status" type="checkbox" class="checkbox" onchange="$('#form_<%= library.id %>').submit();" checked data-toggle="toggle" data-onstyle="warning" data-offstyle="info" data-on="Looking for Crew" data-off="Playing Solo" data-width="150">

                  <% else %>

                  <input name="default_looking_to_play_status" type="checkbox" class="checkbox" onchange="$('#form_<%= library.id %>').submit();" data-toggle="toggle" data-onstyle="warning" data-offstyle="info" data-on="Looking for Crew" data-off="Playing Solo" data-width="150">

                  <% end %>

               </form>
            </td>
         </tr>
         <% end %>
      </table>
   </div>
</div>
