<!-- Validation failure messages -->
<% if @library.errors.any? %>
  <% @library.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Library</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_library" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for owner_id -->
      <div class="form-group">
        <label for="owner_id" class="control-label">
          Owner
        </label>

        <input type="text" id="owner_id" name="owner_id" placeholder="Owner" class="form-control" value="<%= @library.owner_id %>">
      </div>

      <!-- Label and input for game_id -->
      <div class="form-group">
        <label for="game_id" class="control-label">
          Game
        </label>

        <input type="text" id="game_id" name="game_id" placeholder="Game" class="form-control" value="<%= @library.game_id %>">
      </div>

      <!-- Label and input for default_looking_to_play_status -->
      <div class="checkbox">
        <label for="default_looking_to_play_status">
          <input type="checkbox" id="default_looking_to_play_status" name="default_looking_to_play_status" value="1" <%= "checked" if @library.default_looking_to_play_status %>>
          Default looking to play status
        </label>
      </div>

      <button class="btn btn-success">
        Create Library
      </button>
      or
      <a href="/libraries">Cancel</a>
    </form>
  </div>
</div>
