<div class="page-header">
  <h3>Library #<%= @library.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Owner</dt>
      <dd><%= @library.owner_id %></dd>

      <dt>Game</dt>
      <dd><%= @library.game_id %></dd>

      <dt>Default looking to play status</dt>
      <dd><%= @library.default_looking_to_play_status %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/libraries" class="btn btn-primary">
        Back
      </a>
      <a href="/libraries/<%= @library.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_library/<%= @library.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
