<div class="row pb-2">
   <div class="col-md-6">
      <% if current_user.online_status %>
      <i class="fa fa-circle" aria-hidden="true" style="color:#66ff33;"></i>
      <% else %>
      <i class="fa fa-circle" aria-hidden="true" style="color:red;"></i>
      <% end %>
      <span class="h1">
         <%= current_user.username %>
      </span>
   </div>
   <div class="col-md-6">
      <span class="h1">Preferred Friends:</span>
   </div>
</div>

<div class="row">
   <div class="col-md-5">
      <div class="panel panel-default">
         <div class="panel-heading">
            Currently Playing:
         </div>
         <div class="row">
            <div class="col-md-6">

               <% if current_user.in_game_status.nil? %>
                  <div class="text_game_status">
                     Data Unavailable
                  </div>
               <% elsif current_user.in_game_status == 0 %>
                  <div class="text_game_status">
                     Not In Game
                  </div>
               <% else %>
                  <div class="game_status">
                     <img src="<%= Game.find_by(:app_id => current_user.in_game_status).img_url %>" class="dashboard-img">
                  </div>
               <% end %>


            </div>
            <div class="col-md-6">
               <form class="toggle" id="change_status" action="/change_status" method="post">
                  <!-- Hidden input for authenticity token to protect from forgery -->
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                  <% if current_user.in_game_status != nil && current_user.in_game_status > 0 %>
                     <input name="game_id" type="hidden" value="<%= current_user.owned_games.find_by(:app_id => current_user.in_game_status).id %>">
                  <% end %>

                  <% if current_user.looking_to_play_status %>
                     <input name="looking_to_play_status" type="checkbox" class="checkbox" onchange="$('#change_status').submit();" checked data-toggle="toggle" data-onstyle="warning" data-offstyle="info" data-on="Looking for Crew" data-off="Playing Solo" data-width="150">
                  <% else %>
                     <input name="looking_to_play_status" type="checkbox" class="checkbox" onchange="$('#change_status').submit();" data-toggle="toggle" data-onstyle="warning" data-offstyle="info" data-on="Looking for Crew" data-off="Playing Solo" data-width="150">
                  <% end %>
               </form>
            </div>
         </div>
      </div>
   </div>

   <div class="col-md-offset-1 col-md-5">
      <% @friends.each do |friend| %>
      <% if friend.online_status %>
            <div class="panel panel-heading">
               <table class="online-status-table">
                  <tr>
                     <td class="text-td">
                        <%= friend.username %>
                     </td>
                     <td class="text-td">
                        <span class="text-muted">
                        <% if friend.in_game_status > 0 %>
                           Playing <%= Game.find_by(:app_id => friend.in_game_status).title %>
                        <% else %>
                           Not In Game
                        <% end %>
                        </span>
                     </td>
                     <td class="user-status-td">
                        <% if friend.looking_to_play_status %>
                           <i class="fa fa-users fa-lg" aria-hidden="true"></i>
                        <% else %>
                           <i class="fa fa-user fa-lg" aria-hidden="true"></i>
                        <% end %>
                     </td>
                     <td class="user-status-td">
                        <i class="fa fa-circle fa-pull-right" aria-hidden="true" style="color:#66ff33;"></i>
                     </td>
                  </tr>
                  </table>
            </div>
      <% else %>
      <div class="panel panel-heading">
         <%= friend.username %>
         <i class="fa fa-circle fa-pull-right" aria-hidden="true" style="color:red;"></i>
         <% if friend.last_played_game.nil? == false %>
               <small class="text-muted">
                  Last Played Game: <%= Game.find_by(:app_id => friend.last_played_game).title %>
               </small>
         <% end %>
      </div>
      <% end %>

      <% end %>

   </div>
</div>
