<!-- Validation failure messages -->
<% if @gamer.errors.any? %>
  <% @gamer.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Gamer #<%= @gamer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_gamer/<%= @gamer.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for email -->
      <div class="form-group">
        <label for="email" class="control-label">
          Email
        </label>

        <input type="text" id="email" name="email" placeholder="Email" class="form-control" value="<%= @gamer.email %>">
      </div>

      <!-- Label and input for username -->
      <div class="form-group">
        <label for="username" class="control-label">
          Username
        </label>

        <input type="text" id="username" name="username" placeholder="Username" class="form-control" value="<%= @gamer.username %>">
      </div>

      <!-- Label and input for password -->
      <div class="form-group">
        <label for="password" class="control-label">
          Password
        </label>

        <input type="text" id="password" name="password" placeholder="Password" class="form-control" value="<%= @gamer.password %>">
      </div>

      <!-- Label and input for steam_username -->
      <div class="form-group">
        <label for="steam_username" class="control-label">
          Steam username
        </label>

        <input type="text" id="steam_username" name="steam_username" placeholder="Steam username" class="form-control" value="<%= @gamer.steam_username %>">
      </div>

      <!-- Label and input for first_name -->
      <div class="form-group">
        <label for="first_name" class="control-label">
          First name
        </label>

        <input type="text" id="first_name" name="first_name" placeholder="First name" class="form-control" value="<%= @gamer.first_name %>">
      </div>

      <!-- Label and input for last_name -->
      <div class="form-group">
        <label for="last_name" class="control-label">
          Last name
        </label>

        <input type="text" id="last_name" name="last_name" placeholder="Last name" class="form-control" value="<%= @gamer.last_name %>">
      </div>

      <!-- Label and input for profile_img -->
      <div class="form-group">
        <label for="profile_img" class="control-label">
          Profile img
        </label>

        <input type="text" id="profile_img" name="profile_img" placeholder="Profile img" class="form-control" value="<%= @gamer.profile_img %>">
      </div>

      <!-- Label and input for last_played_game -->
      <div class="form-group">
        <label for="last_played_game" class="control-label">
          Last played game
        </label>

        <input type="text" id="last_played_game" name="last_played_game" placeholder="Last played game" class="form-control" value="<%= @gamer.last_played_game %>">
      </div>

      <!-- Label and input for online_status -->
      <div class="checkbox">
        <label for="online_status">
          <input type="checkbox" id="online_status" name="online_status" value="1" <%= "checked" if @gamer.online_status %>>
          Online status
        </label>
      </div>

      <!-- Label and input for in_game_status -->
      <div class="form-group">
        <label for="in_game_status" class="control-label">
          In game status
        </label>

        <input type="text" id="in_game_status" name="in_game_status" placeholder="In game status" class="form-control" value="<%= @gamer.in_game_status %>">
      </div>

      <!-- Label and input for looking_to_play_status -->
      <div class="checkbox">
        <label for="looking_to_play_status">
          <input type="checkbox" id="looking_to_play_status" name="looking_to_play_status" value="1" <%= "checked" if @gamer.looking_to_play_status %>>
          Looking to play status
        </label>
      </div>

      <button class="btn btn-warning">
        Update Gamer
      </button>
      or
      <a href="/gamers/<%= @gamer.id %>">Cancel</a>
    </form>
  </div>
</div>
