<div class="page-header">
  <h3>Gamer #<%= @gamer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @gamer.email %></dd>

      <dt>Username</dt>
      <dd><%= @gamer.username %></dd>

      <dt>Password</dt>
      <dd><%= @gamer.password %></dd>

      <dt>Steam username</dt>
      <dd><%= @gamer.steam_username %></dd>

      <dt>First name</dt>
      <dd><%= @gamer.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= @gamer.last_name %></dd>

      <dt>Profile img</dt>
      <dd><%= @gamer.profile_img %></dd>

      <dt>Last played game</dt>
      <dd><%= @gamer.last_played_game %></dd>

      <dt>Online status</dt>
      <dd><%= @gamer.online_status %></dd>

      <dt>In game status</dt>
      <dd><%= @gamer.in_game_status %></dd>

      <dt>Looking to play status</dt>
      <dd><%= @gamer.looking_to_play_status %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/gamers" class="btn btn-primary">
        Back
      </a>
      <a href="/gamers/<%= @gamer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_gamer/<%= @gamer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
